<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/dashboard/' in request.path %}active{% endif %}" href="{% url 'accounts:dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'accounts:my_orders' %}"> My Orders </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'accounts:edit_profile' %}"> Edit Profile </a>
        <a class="list-group-item {% if '/changePassword/' in request.path %}active{% endif %}" href="{% url 'accounts:changePassword' %}">Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'accounts:logout' %}"> <i class="fa fa-power-off"></i>
        <span class="text">Logout</span>
    </a>
    <!--   SIDEBAR .//END   -->
</aside>